@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

// fonts
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

// global styles
$font-main-title: "Major Mono Display", monospace;
$font-text: "Playfair Display", serif;
$font-title: "Amatic SC", cursive;
$bg-color: #000133;
$text-color: #d8dcd6;
$title-color: #fc86aa;

// main stuff
body {
  text-align: center;
  background: url("../imgs/library_background.jpg") no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: $font-text;
}

.container {
  margin-bottom: 160px;
}

h1 {
  font-family: $font-main-title;
  color: $title-color;
}

h2,
h3,
h4 {
  font-family: $font-title;
  color: $title-color;
}

// navbar
.navbar-content {
  width: 500px;
  margin: 15px auto;
}

// footer
footer {
  color: $text-color;
  font-family: $font-main-title;
  font-size: 1rem;
  position: fixed;
  bottom: 0;

  .btn {
    margin: 5px;
    font-family: $font-title;
  }
}

// home page
.img-container {
  margin: 80px auto;

  img {
    width: 150px;
    height: auto;
  }
}

// auth - login/register
.card {
  margin: 60px auto;
  width: 350px;
  box-shadow: 15px 15px 30px #363636;
}

form {
  padding: 10px;
  font-size: 0.9rem;
  text-align: left;
}

.auth-title {
  text-align: center;
  padding: 10px;
}
